{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="max-w-6xl mx-auto px-4 py-10">

  <!-- Title -->
  <h2 class="text-2xl font-semibold text-white mb-5">
    Search results for: <span class="text-yellow-500">"{{ query }}"</span>
  </h2>

  <!-- Movies Grid -->
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 gap-4">

    {% for m in movies %}
    <a href="{% url 'movie_detail' m.id %}" class="group relative aspect-[2/3] cursor-pointer">
    
        {% if m.image %}
            <img src="{{ m.image.url }}" 
                class="w-full h-full object-cover rounded-lg group-hover:brightness-75 transition">
        {% else %}
            <div class="w-full h-full bg-gray-700 rounded-lg"></div>
        {% endif %}
        
        <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
          <i class="fa-solid fa-play text-white text-xl bg-black/60 p-2 rounded-full"></i>
        </div>

    </a>

    {% empty %}
      <p class="text-gray-400 col-span-full">No movies found.</p>
    {% endfor %}

  </div>

</div>

{% endblock %}
